[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-mail = "*"
mysql-connector-python = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
